/* Add a black background color to the top navigation bar */
.fontNavBar {
   font-family: 'Roboto', sans-serif;
   display: flex;
   justify-content: flex-end;
}

.fontNavBar > li {
  margin-right: 10%;
  list-style: none;
}

.searchBar {
    overflow: hidden;
    background-color: ##BDBDBD;
    width: 80%;
    height: 30px;
    margin-top: 30px;
    margin-bottom: 15px;
}
