<!DOCTYPE html>
<html>
  <head>
    <title>GARNACHA ROUTE</title>
    <meta charset="utf-8"/>
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700|Allerta' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="./Experiences.css"/>
  </head>
  <body>
    <div class="bgimg-1">
      <div class="caption">
        <span class="border">LA RUTA DE LA GARNACHA</span><br>
        <span class="border">REGISTRA TU NEGOCIO</span>
      </div>
    </div>
      </article>
    </section>
    <footer class="footer">
      <div class="contenedor">
        <div class="contacto">
          <a href="tel:+525510124078"><strong>Telefono</strong> <span>5510124078</span></a>
          <a href="mailto:ovalero31@gmail.com"><strong>E-mail</strong> <span>ovalero31@gmail.com</span></a>
        </div>
        <form class="formulario">
          <div class="col1">
            <label for="nombre">Nombre</label>
            <input type="text" required id="nombre" name="nombre"/>
            <label for="email">E-mail</label>
            <input type="email" required id="email" name="email"/>
            <div class="sexo">
              <label for="mujer">
                <input type="radio" id="mujer" checked name="sexo" value="mujer"> mujer
              </label>
              <label for="hombre">
                <input type="radio" id="hombre" name="sexo" value="hombre"> hombre
              </label>
            </div>
            <div class="intereses">
              <label for="informacion">
                <input type="checkbox" checked id="informacion" name="intereses" value="informacion"> Información
              </label>
              <label for="rutas">
                <input type="checkbox" id="rutas" name="intereses" value="rutas"> Rutas
              </label>
              <label for="comentarios">
                <input type="checkbox" id="comentarios" name="intereses" value="comantarios"> Comentarios
              </label>
              <label for="otros">
                <input type="checkbox" id="otros" name="intereses" value="otros"> Otros
              </label>
            </div>
          </div>
          <div class="col2">
            <label for="comentarios">Comentarios</label>
            <textarea name="comantarios" id="comentarios" cols="30" rows="7"></textarea>
            <input type="submit" value="Enviar" class="button"/>
          </div>
        </form>
      </div>
    </footer>
  </body>
</html>
