.portada{
  background-image: url();
  height: 50vh; *vh es una medida relativa que determina que la imagen abarque ese porcentaje de la página o dispositivo 
  width: 100%;
  *
  <section class="portada">
}
